#header{
text-align: center;
background-color: rgb(97, 44, 11);
padding: 70px;
}


h1{
    text-align: center;
}

h2{
    margin-top: 0%;
}

#copy{
    text-align: center;
}

.main{
    background-color: rgb(168, 152, 60) ;
    padding: 10px;
}


#nav{
text-align: center;
text-decoration: none;
background-color:rgb(168, 152, 60) ;
padding: 20px;
}

#nav a{
color: green;
text-decoration: none;
}
#para{
    color: rgb(56, 47, 24);
}
footer{
    font-weight: bold;
}